@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary: #e74c3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar li a {
  font-size: 14px;

  margin-right: 30px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--primary);
}

.main {
  padding: 100px;
  align-items: flex-start;
  flex-direction: column;
}

.main p {
  margin-bottom: 15px;
}
