@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
:root {
  --primary: #e74c3c;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: #f0f4f8;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 95px;
  padding: 0 50px;

  color: #21262c;
}

.navbar h2 {
  font-weight: 900;
  font-size: 30px;
}

.navbar ul {
  margin-left: 150px;
  display: flex;
}

.navbar li {
  list-style: none;
}

.navbar li a {
  font-size: 14px;

  margin-right: 30px;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar ul li:hover a {
  color: var(--primary);
}

.search-button {
  margin-left: 10px;
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  font-size: 20px;
}

.search-button:hover {
  color: var(--primary);
  transform: scale(1);
  transition: 0.3s ease;
}

.main {
  padding: 100px;
  align-items: flex-start;
  flex-direction: column;
}

.main p {
  margin-bottom: 15px;
}
